<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Job Management</title>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
</head>
<body>

<h2>Job Management</h2>

<div class="forms-container">


    <div th:each="jobType : ${jobTypes}">
        <form th:action="@{/start-job}" method="post">
            <label th:text="${jobType.getCommand()}"></label>
            <input type="hidden" th:name="jobType" th:value="${jobType.getCommand()}">
            <button type="submit">Start</button>
        </form>
    </div>
    <div th:each="taskType : ${taskTypes}">
        <form th:action="@{/run-task}" method="post">
            <label th:text="${taskType.getCommand()}"></label>
            <input type="hidden" th:name="taskType" th:value="${taskType.getCommand()}">
            <button type="submit">Run</button>
        </form>
    </div>


    <form th:action="@{/property}" method="post">
        <label>Property:
            <input name="propName">
        </label>
        <label>Value:
            <input name="propValue">
        </label>
        <button type="submit">Start</button>
    </form>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <form action="/exit" method="post">
        <button type="submit">Exit</button>
    </form>


    <form action="/smoke-tw-nav" method="post">
        <button type="submit">smoke-tw-nav</button>
    </form>

    <form action="/smoke-sq-nav" method="post">
        <button type="submit">smoke-sq-nav</button>
    </form>


    <div>
        <label for="propertyNameInput"></label>
        <input type="text" id="propertyNameInput" placeholder="Enter Property Name">
        <button onclick="describe('propertyNameInput', 'result')">Query</button>
    </div>

</div>
<div id="result"></div>

<script th:src="@{/js/app.js}"></script>

</body>
</html>
